@(title: String)
<!DOCTYPE html>


<html>
<head>
    <title>Login</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
    <!--bootstrap css-->
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/login.js")" type="text/javascript"></script>
    <script type="text/javascript"src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>

</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <p align="center">
                <img src="@routes.Assets.at("images/logo_blanco.png")" height="170" width="170">
                </p>
            </div>
        </div>
        <div class="row clearfix">
            <!--Log in div-->
            <div class="col-md-6 column">
                <!--Log in text div-->
                <div class="row clearfix">
                    <div class="col-md-12 column abc">
                        <h3>Log In</h3>
                    </div>
                </div>
                <!--id div-->
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <h5>ID Number</h5>
                        <input type="text" name="id" placeholder="Enter ID Number" class="form-control idTxt" aria-describedby="basic-addon1">
                    </div>
                </div>
                <!--password div-->
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <h5>Password</h5>
                        <input type="password" name="password" placeholder="Enter Password" class="form-control passwordTxt" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12 columnn errorLogin">
                        <h5 style="color:red;">Incorrect Username or Password</h5>
                    </div>
                </div>
                <br>
                <!--Buttom log in div-->
                <div class="row clearfix">
                    <div class="col-md-6 column">
                        <button type="submit" class="btn btn-info btnLogin" value="send">Log In</button>
                    </div>
                    <div class="col-md-6 column">
                        <button type="submit" class="btn btn-link">Forgot your password?</button>
                    </div>
                </div>
            </div>
            <!--Sign up div-->
            <div class="col-md-6 column">
                <!--Sign up text div-->
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <h3>Sign Up</h3>
                    </div>
                </div>
                <!--Nombre completo div-->
                <div class="row clearfix">

                    <!--Nombre div-->
                    <div class="col-md-6 column">
                        <h5>First Name</h5>
                        <input type="text" placeholder="Enter First Name" class="form-control" aria-describedby="basic-addon1" id="firstName">
                    </div>
                    <!--Apellido div-->
                    <div class="col-md-6 column">
                        <h5>Last Name</h5>
                        <input type="text" placeholder="Enter Last Name" class="form-control" aria-describedby="basic-addon1" id="lastName">
                    </div>
                </div>
                <!--Email div-->
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <h5>Email</h5>
                        <input type="email" placeholder="Enter Email" class="form-control" aria-describedby="basic-addon1" id="email">
                    </div>
                </div>
                <div class="row clearfix">
                    <!--ID Number div-->
                    <div class="col-md-6 column">
                        <h5>ID Number</h5>
                        <input type="text" placeholder="Enter ID Number" class="form-control" aria-describedby="basic-addon1"  id="id">
                    </div>
                    <!--Speciality div-->
                    <div class="col-md-6 column">
                        <h5>Discipline</h5>
                        <select class="selectpicker" id ="discipline">
                        </select>
                    </div>
                </div>
                <div class="row clearfix">
                    <!--Fecha nacimiento div-->
                    <div class="col-md-6 column">
                        <h5>Birth Date</h5>
                        <input type="text" class="datepicker">
                    </div>
                    <!--Genero div-->
                    <div class="col-md-6 column">
                        <h5>Gender</h5>
                        <div class="col-md-6 column">
                            <h7><input type="radio" name="sex" value="0" checked> Male</h7>
                        </div>
                        <div class="col-md-6 column">
                            <h7><input type="radio" name="sex" value="1"> Female</h7>
                        </div>
                    </div>
                </div>
                <!--Password div-->
                <div class="row clearfix">
                    <div class="col-md-6 column">
                        <h5>Password</h5>
                        <input type="password" placeholder="Enter Password" class="form-control" aria-describedby="basic-addon1" id="password1">
                    </div>
                    <div class="col-md-6 column">
                        <h5>Confirm Password</h5>
                        <input type="password" placeholder="Re enter Password" class="form-control" aria-describedby="basic-addon1" id="password2">
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <h5>Linkedin URL</h5>
                        <input type="text" placeholder="Enter URL-Might be empty" class="form-control" aria-describedby="basic-addon1" id="linkedin">
                    </div>
                </div>
                <br>
                <!--Buttom Sign up div-->
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class ="errorSignUp" style="color:red;"></div>
                    </div>
                    <div class="col-md-12 column">
                        <button type="button" class="btn btn-info btnCreate">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
