@(session: String)
<!DOCTYPE html>


<html>
<head>
    <title>Find Patient</title>
    <script src="@routes.Assets.at("javascripts/jquery-1.11.3.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/highcharts.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/highcharts-3d.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/highcharts-more.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/base64.js")" type="text/javascript"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/search.css")">
    <!--bootstrap css-->
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/search.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/login.js")" type="text/javascript"></script>
    <script type="text/javascript"src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>

</head>
<body>
<p class="hiddenId">@session</p>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo_aura"style="padding-top: 0px"><img src="@routes.Assets.at("images/logo_blanco.png")" height="50" width="50"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="">Find Patient<span class="sr-only">(current)</span></a></li>
                    <li class="myAccountLink"><a href = '#'>Add Patient</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="myAccountLink"><a href='#' class="nameDr"></a></li>
                    <li style="padding-top:9px; padding-right:5px"><button type="button" class="btn btn-danger btn_sign_out">Sign out</button></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
        <!--Find patient-->
        <div class="col-md-3 column">
            <!--Find patient div-->
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <h3>Find Patient</h3>
                </div>
                <div class="col-md-12 column">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active byIDLi"><a class="byID">By ID</a></li>
                    </ul>
                </div>
            </div>
            <!--ID div-->
            <div class="row clearfix" style="background-color:white; border-radius: 4px; border: 1px solid #dfdfdf;">
                <div class="col-md-12 column" style="padding-top:20px; padding-bottom:20px;">
                    <div class="divID">
                        <div class="input-group">
                         <input type="text" class="form-control idPacienteTxt" placeholder="Patient's ID">
                            <span class="input-group-btn">
                              <button class="btn btn-default findByID" type="button">Find</button>
                            </span>
                        </div><!-- /input-group -->
                        <br>
                        <select multiple id="selectPatient" style="height: 450px; width: 250px; border-radius: 5px; font-size: 16px;" class="listaPacientes">
                        </select>
                    </div>
                    <div class ="divName">
                        <div class="input-group">
                         <input type="text" class="form-control idPacienteTxt" placeholder="Patient's Name">
                             <span class="input-group-btn">
                              <button class="btn btn-default findByID" type="button">Find</button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                    <div class="errorBusquedaID" style="color:red;"></div>
                </div>

            </div>
        </div>
        <!--Patient div-->
        <div class="col-md-3 column" style="padding-left:50px;">
            <div class="row clearfix" style="background-color:white; border-radius: 4px; border: 1px solid #dfdfdf; height:700px; padding:10px;">
                <div class="nombrePaciente"></div>
                <div class="infoPaciente"></div>
                <div class="sharePatient">
                    <h1></h1>
                    <h5>Share the patient with another doctor</h5>
                    <div class="input-group">
                        <input type="text" class="form-control idPacienteTxt" placeholder="Doctor's ID">
                        <span class="input-group-btn">
                            <button class="btn btn-default share" type="button">Share</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>
        <div class="col-md-6 column">
            <div class="col-md-12 column">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active episodeLi"><a class="episode">Episodes</a></li>
                    <li role="presentation" class="analysisLi"><a class="analysis">Analysis</a></li>
                </ul>
            </div>
            <div class="row clearfix" style="background-color:white; border-radius: 4px; border: 1px solid #dfdfdf; height:658px; overflow-y: scroll; overflow-x: hidden;">
                <div class="col-md-12 column ">
                    <div class ="divEpisodiosAfuera">
                        <div class ="divEpisodios">
                            <h1></h1>
                        <div class="col-md-5 column">
                            <select multiple id="select1" style="height: 320px; width: 200px;" class="listaEpisodios">
                            </select>
                        </div>
                        <div class="col-md-7 column">
                            <div class="col-md-12 column">
                                <h5>Filter Episodes By Variables</h5>
                                <div class="col-md-6 column">Intensity</div>
                                <div class="col-md-6 column" style = "font-size:20px;">
                                    <select style="width: 100px;" class="filterIntensity">
                                        <option value="-1">All</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                                <div class="col-md-6 column">Sleep Time</div>
                                <div class="col-md-6 column" style = "font-size:20px;">
                                    <select style="width: 100px;" class="filterSleep">
                                        <option value="-1">All</option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8 or more</option>
                                    </select>
                                </div>
                                <div class="col-md-6 column">Stress</div>
                                <div class="col-md-6 column" style = "font-size:20px;">
                                    <select style="width: 100px;" class="filterStress">
                                        <option value="-1">All</option>
                                        <option value="0">False</option>
                                        <option value="1">True</option>
                                    </select>
                                </div>
                                <div class="col-md-6 column">Symptom</div>

                                <div class="col-md-6 column" style = "font-size:20px;">
                                    <select style="width: 100px;" class="filterSymptom">
                                        <option value="-1">All</option>
                                        <option value="0">Aura</option>
                                        <option value="1">Depression, ittitability, or excitement</option>
                                        <option value="1">Lack of restful sleep</option>
                                        <option value="1">Stuffy nose or watery eyes</option>
                                        <option value="1">Cravings</option>
                                        <option value="1">Throbbing pain on one or both sides of the head</option>
                                        <option value="1">Eye pain</option>
                                        <option value="1">Neck pain</option>
                                        <option value="1">Frequent urination</option>
                                        <option value="1">Yawning</option>
                                        <option value="1">Numbness or tingling</option>
                                        <option value="1">Nausea or vomiting</option>
                                        <option value="1">Nausea or vomiting</option>
                                        <option value="1">Light, noise, or smells worsen pain</option>
                                        <option value="1">Other</option>
                                    </select>
                                </div>
                                <div class="col-md-6 column">Place</div>
                                <div class="col-md-6 column" style = "font-size:20px;">
                                    <select style="width: 100px;" class="filterPlace">
                                        <option value="-1">All</option>
                                        <option value="0">Sinus</option>
                                        <option value="1">Cluster Left</option>
                                        <option value="2">Cluster Right</option>
                                        <option value="3">Migraine Left</option>
                                        <option value="4">Migraine Right</option>
                                    </select>
                                </div>
                                <div class="col-md-12 column"><h5></h5></div>
                                <div class="col-md-9 column"><h5 class="errorFechas" style="color:red;"></h5></div>
                                <div class="col-md-3 column"><button type="button" class="btn btn-success btnFilterPro">Filter</button></div>
                            </div>

                            <div class="col-md-12 column">
                                <h5>Filter Episodes By Period</h5>
                                <div class="col-md-5 column"><input type="text" class="datepickerFrom" style = "width:100px;"></div>
                                <div class="col-md-2 column" style = "font-size:20px;">  &#8594;</div>
                                <div class="col-md-5 column"><input type="text" class="datepickerTo" style = "width:100px;"></div>
                                <div class="col-md-12 column"><h5></h5></div>
                                <div class="col-md-9 column"><h5 class="errorFechas" style="color:red;"></h5></div>
                                <div class="col-md-3 column"><button type="button" class="btn btn-success btnFilter">Filter</button></div>
                            </div>

                        </div>
                        <div class="col-md-12 column divInfoEpisodio">
                            <div class="row clearfix">
                            <div class="col-md-4 column"><div class="date"></div></div>
                            <div class="col-md-8 column"><h6> </h6><div class="audio"></div></div>
                            </div>
                            <div class="intensity"></div>
                            <div class="sleepHours"></div>
                            <div class="col-md-6 column"><div class="regularSleep"></div></div>
                            <div class="col-md-6 column"><div class="stress"></div></div>
                            <div class="location"></div>
                            <div class="symptoms"></div>
                            <div class="medicines"></div>
                            <div class="food"></div>
                            <div class="sports"></div>

                        </div>
                        </div>
                    </div>
                    <div class="divAnalysisAfuera">
                        <div class="divAnalysis">
                        <h1></h1>
                        <h4>Select period for analysis</h4>
                        <h1></h1>
                        <div class="col-md-1 column">FROM</div>
                        <div class="col-md-4 column"><input type="text" class="datepickerFromAnalysis"></div>
                        <div class="col-md-1 column">TO</div>
                        <div class="col-md-4 column"><input type="text" class="datepickerToAnalysis"></div>
                        <div class="col-md-2 column"><button type="button" class="btn btn-success btnFilterAnalysis">Analyze</button></div>
                        <h5 class="errorFechasAnalysis" style="color:red"></h5>
                        <div class="col-md-12 column">
                            <div id="container1" style="min-width: 500px; max-width: 500px; height: 400px; margin: 0 auto"></div>
                            <div id="container2" style="min-width: 500px; max-width: 500px; height: 400px; margin: 0 auto"></div>
                            <div id="container3" style="min-width: 500px; max-width: 500px; height: 400px; margin: 0 auto"></div>
                        </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
