@(title: String)
<!DOCTYPE html>


<html>
<head>
    <title>Unauthorized Access</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/unauthorized.css")">
    <!--bootstrap css-->
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script type="text/javascript"src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>

</head>
<body>
<div class="container">
<br><br><br><br>
    <div class="row clearfix">
        <div class="col-md-4 column">
            <p align="center">
                <a href = "/"><img src="@routes.Assets.at("images/logo_blanco.png")" height="170" width="170"></a>
            </p>
        </div>
        <div class="col-md-8 column">
            <p align="center">
                <br>
                <h1>You don't have permission to access this page. Please Log In at our main page.</h1>
            </p>
        </div>
    </div>
</div>
</body>
</html>
